/*CSS DOCUMENT*/

img {
    width: 100%; 
}

/*Please don’t change this CSS stylesheet for the content hierarchy assginment */

/*div.container {
	margin: auto;
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-auto-rows: 3em;
}*/

header h1 a{
    max-height: 1em;
}

body {
    background-color: #5A80A1;
}

h2 {
    font-family: pragmatica-slabserif,sans-serif;
    font-style: normal;
    border-bottom: .25em solid #D99E6A;
}

h3 {
    font-family: pragmatica-slabserif,sans-serif;
    font-style: normal;
}

h4 {
    font-family: pragmatica-slabserif,sans-serif;
    font-weight: 600;
}

p {
    font-family: sans-serif;
}

address {
    font-family: sans-serif;
}

nav {
    background-color: #D99E6A;

}

nav ul li {
    display: inline;
    list-style-type: none;
    margin-right: 1em;
    /*font-weight: bold;
    font-size: 1em;*/
    text-transform: uppercase;
    letter-spacing: .05em;
    font-family: pragmatica-slabserif,sans-serif;
    font-weight: 800;
    font-style: normal;
}

nav ul li a{
    color: #222222;
    text-decoration: none;
}

footer {
    background-color: #A6653F;
}