/*CSS document*/
@import url("https://use.typekit.net/lcl4unu.css");

body{
    margin: auto;
    font-family: ff-meta-web-pro, sans-serif;
    background-color: #FEDC97;
}

div.container {
    max-width: 80em;
    margin: auto;
    padding: 1.5em;
}

section {
    max-width: 40em;
    margin: 0 auto 3em;

}

header img {
    max-width: 10em;
}



nav ul li {
    display: inline;
    list-style-type: none;
    font-weight: 600;
    text-transform: uppercase;
    margin: .3em;

} 

nav ul li a{
  text-decoration: none;
  color: #33658A;
}

nav ul li a:hover{
  color: #698996;
}


figure {
    margin: 0;
}

img {
    width: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
}

h3{
    margin: 0;
    color: #33658A;
}

h2{
    color: #33658A;
    font-family: freight-display-pro, serif;
    font-size: 2em;

}

h4{
    color: #33658A;
    font-family: freight-display-pro, serif;
    font-size: 1.4em;
    margin: 0;
}

.mainstory h3{
    font-family: freight-display-pro, serif;
    font-size: 2em;

}

.imageteaser h3{
    font-family: freight-display-pro, serif;
    font-size: 1.7em;
}

.teaser h3{
    font-family: freight-display-pro, serif;
    font-size: 1.5em;
    text-decoration: none;

}

main a{
    text-decoration: none;
    color: #33658A;

}


main a p{
    color: #08090A;
}

p{
    text-decoration: none;
    color: #08090A;
}

a {
    text-decoration: none;
}

footer{
    font-size: .6em;
}

@media screen and (min-width: 60em) {
    div{
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 1em;
    }

    header{
        grid-column: 1/3;
    }

    main{
        grid-column: 1/2;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1em;
    }

    aside{
        grid-column: 2/3;
    }

    section.mainstory{
        grid-column: 1/4;
        grid-row: 1/3;
        display: flex;
        flex-direction: column;
    }

    section.mainstory figure{ 
        flex: 1 0 15em;
        background-image: url(000128800004.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    /*I am having issues getting my image to fill the backgound as you did in your example*/

    section.mainstory figure img{
        height: 100%;
        opacity: 0;
        background-color: #ff3;
    }

    
    section.mainstory h3{
        flex:0 0 auto;
        margin: 0;
    }

    section.mainstory p{
        flex: 0 0 auto;
        margin: 0;
    }
}